# Configurations
.github/
.vscode/

# Documents
README.md
documents/

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Ignore
.*ignore

# Docker
Dockerfile*
docker-compose*

# Configs
*.config.*

# Crowdin
crowdin.yml

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Back-ends
.firebase
.firebaserc
firebase.json
database.rules.json
