# Configurations
.github/
.vscode/

# Documents
README.md
LICENSE
LICENSE-ASSETS
documents/

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Ignore files
.*ignore
.gitignore
.dockerignore
.prettierignore

# Docker
Dockerfile*
docker-compose*

# Linter/Formatter configs
eslint.config.js
prettier.config.js

# PM2
ecosystem.config.js

# Scripts
start.bat
start.sh

# Crowdin
crowdin.yml

# Assets (non-source)
assets/

# Environment
.env
.env.*

# Back-ends
.firebase
.firebaserc
firebase.json
database.rules.json

# Git
.git/
