# Configuration file
# Because some values cannot be set directly
# in terms of security and privacy.
# 
# "*" means necessary
# 

# Discord config *
# Bot tokens, which can be obtained at
# https://discord.com/developers/applications
TOKEN=

# Monitoring config
# For monitoring the response rate of APIs,
# you don't need to set this section.
MONITOR_API_KEY=
MONITOR_METRIC_ID=
MONITOR_PAGE_ID=

# Firebase config *
# initialize Firebase and begin using the SDKs
# for the products you'd like to use.
# https://console.firebase.google.com
API_KEY=
AUTH_DOMAIN=
DATABASE_URL=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
MEASUREMENT_ID=

# Top.gg config
# API key of your bot
TOP_GG_TOKEN=

# Open Weather config
# API key of weather service
# https://home.openweathermap.org/api_keys
OPEN_WEATHER_TOKEN=
