# Assets
assets/

# Dependency directories
node_modules/

# Logs
logs/
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Package lock
package-lock.json

# LICENSE
LICENSE
LICENSE_ASSETS

# README
NOTE.md

# Back-ends
.firebase
.firebaserc
firebase.json
database.rules.json
