# Configurations
.github/
.vscode/
crowdin.yml

# Assets
assets/

# Documents
README.md
documents/

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Package lock
package-lock.json

# LICENSE
LICENSE
LICENSE_ASSETS

# Back-ends
.firebase
.firebaserc
firebase.json
database.rules.json
