# Github
.github/

# Temp
.note.txt

# Back-ends
.firebase
.firebaserc
firebase.json

# Rules
database.rules.json
firestore.indexes.json
firestore.rules
storage.rules

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/

# Logs
logs
*.log

# Dependency directories
node_modules/
